{% extends 'base.html' %}

{% block title %}
Главная
{% endblock %}

{% block title2 %}
Успеваемость студентов
{% endblock %}

{% block body %}
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>#</th>
                  <th>ФИО</th>
                    {% for subject in subjects %}
                        <th>{{subject}}</th>
                    {% endfor %}
                  <th>Сред.</th>
                </tr>
                </thead>
                <tbody>
                    {% for statistics in student_statistics %}
                        <tr>
                            <th scope="row">{{statistics.student.id}}</th>
                            <td>{{statistics.student.fio}}</td>
                             {% for score in statistics.scores %}
                                <td>{{score}}</td>
                              {% endfor %}
                            <td>{{statistics.avg}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}
